* {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1.75rem;
  background-color: white;
}

main {
  margin-top: 10vh;
}

.mulearn-logo {
  width: 6rem;
}

.nav-barbtn button {
  border: 2.5px solid #5865f2;
  padding: 0.65rem 0.96rem;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #5865f2;
  color: white;
  margin-top: 2vh;
}

.dropdown {
  font-size: 0.89rem;
}

.dropdown-item {
  font-size: 0.75rem;
}

footer {
  margin-top: 10vh;
  padding: 4rem 2rem;
  background-color: #404040;
}

.footer-logo {
  width: 5rem;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

.social-links a:hover,
.footer-links a:hover {
  color: #fd7915;
}

.footer-links {
  margin: 2rem 0;
  line-height: 2rem;
  font-size: 0.9rem;
}

.footer-links a {
  margin-right: 0.75rem;
}

.iconify {
  font-size: 2rem;
  margin-right: 0.75rem;
}

.iconify:hover {
  color: #f6832a;
  background-color: #404040;
}

footer hr {
  color: white;
  margin: 2rem 0rem;
}
.address {
  color: white;
  width: 20rem;
  font-weight: 200;
  font-size: 0.8rem;
}

.mailus {
  display: block;
  padding-top: 1rem;
  color: rgb(176, 176, 245);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #5e72e4;
}

.fheadingtext {
  font-size: 1.1rem;
  color: white;
  margin-top: 4vh;
}

.fparagraph {
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}

.newsletterinvite {
  display: flex;
  flex-direction: row;
}

.invite-container {
  position: relative;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 2vh;
  border-radius: 5px;
}

.invite-container input {
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem;
  width: 12.5rem;
}

.invite-container button {
  border: none;
  font-size: 0.8rem;
  color: white;
  background-color: #f6832a;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
}

.invite-container button:hover {
  background-color: #fd7915;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.nav-barbtn{
  padding-bottom: 2vh;
}

.newsletter {
  width: 20rem;
}

.newslettertext {
  color: white;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 1000px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    padding: 1rem 6rem;
    padding-bottom: 3rem;
  }

  .container-fluid{
    padding: 0.55rem 4.3rem;
  }

  .navbar-styles {
    display: flex;
    justify-content: space-between;
  }

  .nav-barbtn button {
    margin-top: 0;
  }

  .iconify {
    font-size: 2.5rem;
  }

  .footer-logo {
    width: 6rem;
    margin-top: 2vh;
  }

  .nav-barbtn{
    padding-bottom: 0vh;
  }
}
/* Header Styling */
.headers-up,
.headers-past {
  margin-top: 6vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: baseline;
  margin-left: 2.4rem;
  font-family: "Outfit", sans-serif;
  color: #404040;
}

.hide {
  display: none;
}

.active-header {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 1rem;
  cursor: default;
}

.header {
  font-size: 1.2rem;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .headers-up,
  .headers-past {
    margin-left: 6rem;
  }

  .active-header {
    font-size: 2.25rem;
    margin-right: 2rem;
  }
}

/* Card Styling */

.event {
  background-color: aliceblue;
  padding-bottom: 1vh;
  width: 20rem;
  color: #404040;
  border-radius: 5px;
}

.event-image {
  width: 20rem;
  border-radius: 5px;
}

.event-content {
  padding: 0.5rem;
}

.events-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.event-header {
  margin: 0rem;
  margin-top: 1vh;
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1vh;
}

.event {
  margin: 2rem 0;
}

.register{
  color: #f6832a;
  background-color: aliceblue;
  border: 2px solid #f6832a;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 2vh;
  padding: 0.25rem 0.75rem;
  
}

.register:hover{
  box-shadow: 0px 0px 10px #e0c4ae;
}

@media only screen and (min-width: 1000px) {
  .events-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .event {
    width: 17vw;
  }

  .event-image {
    width: 17vw;
  }

  .event-header {
    font-size: 1.55rem;
    margin-bottom: 1.25vh;
  }
}

/* Tags Styling */

.tags {
  line-height: 2rem;
}

.tags span {
  margin-top: 5rem;
  padding: 0.25rem 0.45rem;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
}

.event-description {
  font-size: 0.95rem;
}

.tinkerhub {
  background-color: deepskyblue;
}

.karma {
  background-color: orange;
}

.online {
  background-color: rgb(251, 152, 152);
}

.goodies {
  background-color: royalblue;
}

.down {
  display: none;
}

.view-more {
  display: block;
  margin: auto;
  color: #5865f2;
  border: 2px solid #5865f2;
  background-color: white;
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  margin-top: 3vh;
}

.view-more:hover {
  box-shadow: 0px 0px 10px #aeb3e6;
}
